h1 {
	text-align: center;
}

.jumbotron {
	height: 500px;
}


.project-container {
	color: #fff;
	height: 220pxg ;
	padding: 10px;
}

.project-inner {
	background-color: #d3d3d3;
	padding: 10px;
	height: 200px;
	max-width: 250px;
	margin: 0 auto;
}

.contact-form {
	max-width: 500px;
	margin: 0 auto;
}